{% extends "w3blacklist/w3blacklist.html" %}

{% load i18n %}

{% block subtitle %} :: {% trans "News" %}{% endblock %}
{% block menu2_news %}active{% endblock %}

{% block content %}

{{ block.super }}

{% if not info_id %}
<div class="alert alert-project">
  <strong>{% trans "Why W3Blacklist?" %}</strong>
  <br><br>
  {% trans "The World Wide Web has been created to ensure anyone can freely access information and share it. Some people or companies forget this goal and create websites that can only be accessed through a defined browser, operating system, or both." %}
  <br>
  {% trans "W3Blacklist is listing websites (companies, government or organizations; not personal pages) that discriminate visitors according to their operating system or web browser. Webmaster is contacted before adding website to this list. Our goal is that webmaster modify page to be readable by all, whatever browser or OS used." %}
  <br>
  {% trans "To help us you can submit website with problem or mail webmasters for websites in database." %}
  <br>
  {% trans "W3BlackList is released under the terms of the GNU General Public License version 3." %}
</div>
{% endif %}

{% include "news/news.html" %}

{% endblock content %}
