{% extends "home/home.html" %}

{% load i18n %}{% load localdate %}{% load txt2html %}

{% block subtitle %} :: {% trans "About" %}{% endblock %}
{% block menu2_about %}active{% endblock %}

{% block content %}

{{ block.super }}

<h3>FlashTux.org</h3>

<h4>{% trans "Purpose" %}</h4>

<p>
  {% trans "FlashTux.org is a website hosting free software for free OS (Linux, BSD, etc.)." %}
</p>

<h4>{% trans "Key dates" %}</h4>

{% with date="1999" %}
<h5>{% blocktrans %}{{ date }}: FlashCode's page{% endblocktrans %}</h5>
{% endwith %}

<p>
  {% comment %}Translators: "language" is a programming language{% endcomment %}
  {% trans "Language / environment:" %}
  PHP.
</p>

<p>
  {% blocktrans %}Creation of the <a href="http://flashcode.free.fr/index2.php">FlashCode's page</a>, with tools and games I am developing.{% endblocktrans %}
</p>

{% with date="2002-09"|localdate:"Date_year_month" %}
<h5>{% blocktrans %}{{ date }}: FlashTux.org{% endblocktrans %}</h5>
{% endwith %}

<p>
  {% comment %}Translators: "language" is a programming language{% endcomment %}
  {% trans "Language / environment:" %}
  PHP, MySQL.
</p>

<p>
  {% trans "Creation of FlashTux.org, in replacement of FlashCode's page." %}
  <br>
  {% trans "Hosted projects like the EciAdsl driver are growing and become stable." %}
  <br>
  {% trans "Dynamic parts of website (like news, EciAdsl modems, programs, etc.) are now stored in a database." %}
</p>

{% with date="2004-06"|localdate:"Date_year_month" %}
<h5>{% blocktrans %}{{ date }}: major update{% endblocktrans %}</h5>
{% endwith %}

<p>
  {% comment %}Translators: "language" is a programming language{% endcomment %}
  {% trans "Language / environment:" %}
  PHP, MySQL.
</p>

<p>
  {% trans "Major update of website:" %}
  <ul>
    <li>{% trans "conform to XHTML / CSS 2 W3C recommandations" %}</li>
    <li>{% trans "comments system for news" %}</li>
    <li>{% trans "language selection is saved in a cookie" %}</li>
  </ul>
</p>

{% with date="2019-02"|localdate:"Date_year_month" %}
<h5>{% blocktrans %}{{ date }}: full rewrite{% endblocktrans %}</h5>
{% endwith %}

<p>
  {% comment %}Translators: "language" is a programming language{% endcomment %}
  {% trans "Language / environment:" %}
  Python / Django, PostgreSQL.
</p>

<p>
  {% blocktrans %}FlashTux.org (formerly the "FlashCode's webpage") is turning 20!{% endblocktrans %}
  <br>
  {% trans "Full rewrite of the site, source code is now available." %}
</p>

<h4>{% trans "Source code" %}</h4>

<p>
  {% trans "The source code of this website is hosted on GitHub:" %}
  <a href="https://github.com/flashtux" target="_blank" rel="noopener">
    https://github.com/flashtux ↗
  </a>
</p>

<p>
  {% trans "All pages are written with text editor, no web page editor or CMS (Content Management System) are used." %}
</p>

<p>
  {% trans "This website and software available on this website are free, source code is provided and you can redistribute it under GNU GPL licence conditions." %}
  <br>
  {% trans "FlashTux.org is not responsible of any data/hardware damage due to use of software available on this website." %}
</p>

<h4>{% trans "Pages conformity" %}</h4>

<p>
  {% blocktrans %}FlashTux.org pages are conform to W3C <a href="https://www.w3.org/TR/html5/" target="_blank" rel="noopener">HTML 5 recommendation</a>.{% endblocktrans %}
  <br>
  {% trans "Therefore, any browser compatible with theses recommendations should display website without any problem." %}
</p>

<h4>{% trans "Spam" %}</h4>

<p>
  {% trans "FlashTux.org team is actively fighting against spam." %}
  <br>
  {% trans "Your e-mail address will NEVER be sent to anyone, neither displayed on website." %}
</p>

<h4>{% trans "Technical info" %}</h4>

<p>
  {% trans "Web hoster: Hetzner" %}
  <br>
  {% trans "Host: flashtux.org" %}
  {% for info, value in extra_info.items %}
  <br>
  {{ info|capfirst }}: {{ value }}
  {% endfor %}
</p>

<h4>{% trans "Contact" %}</h4>

<p>
  e-mail: <a href="mailto:{% txt2html "webmaster@flashtux.org" %}">webmaster@flashtux.org</a>
  <br>
  IRC: server irc.libera.chat, nick FlashCode, channels: #weechat, #weechat-fr
</p>

{% endblock content %}
