{% extends "games/games.html" %}

{% load i18n %}{% load linkfile %}

{% block subtitle %} :: HellFight{% endblock %}
{% block menu2_hellfight %}active{% endblock %}

{% block content %}

{{ block.super }}

<p class="text-center">
  <img src="{{ MEDIA_URL }}images/games/hfight.png" class="px-2" alt="HellFight" title="HellFight">
</p>

<h3>{% trans "The game" %}</h3>

<p>
  {% trans "Mega battle, destroy enemy ship." %}
</p>

<h3>{% trans "Plus" %}</h3>

<p>
  <ul>
    <li>{% trans "8 players game (with network)" %}</li>
    <li>{% trans "Demoniac Fight continuation" %}</li>
    <li>{% blocktrans %}lot of cool musics, some by <a href="http://multor.free.fr/">MulToR</a>{% endblocktrans %}</li>
  </ul>
</p>

<h3>{% trans "OS" %}</h3>

<p>
  <ul>
    <li>{% trans "Dos (native)" %}</li>
    <li>{% blocktrans %}Windows / Linux / BSD / BeOS (with <a href="https://www.dosbox.com">DOSBox</a>){% endblocktrans %}</li>
  </ul>
</p>

<h3>{% trans "Programming language" %}</h3>

<p>
  {% trans "Pascal (7000 lines), result of 2 months' work!" %}
</p>

<h3>{% trans "Download" %}</h3>

<p>
  {% linkfile "games/hfight.zip" %}
</p>

{% endblock content %}
